
body{
  background-color: #020202;
  color: white;
  height: 100vh;

  /* justify-content: center;
  align-items: center; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
